# Generator of sql fixtures for data testing

This notebook adds a methodology to generate data for doing api testing.

In [2]:
import pandas as pd
import os

# WDPA

In [3]:
wdpa = pd.read_csv('/home/jovyan/work/datasets/processed/geo_wdpa_okavango.csv').fillna('null')
wdpa.head(3)

,id,wdpaid,the_geom,full_name,iucn_cat,shape_leng,shape_area,iso3,status,desig,created_at,created_by,last_modified_at,project_id
0,d211e6e2-34e8-44fd-9a52-ca65047e4372,349,0106000020E61000000100000001030000000100000089...,null,II,null,null,AGO,Designated,National Park,2021-10-29 10:31:00.035909,48760af4-679b-4c55-86ce-2e5039c0c8e8,2021-10-29 10:31:00.035909,null
1,1da44f83-7cbf-49a0-8766-32a1169807a7,600,0106000020E610000001000000010300000001000000C2...,null,Ib,null,null,BWA,Designated,National Park,2021-10-29 10:31:00.035909,48760af4-679b-4c55-86ce-2e5039c0c8e8,2021-10-29 10:31:00.035909,null
2,5c3a42e8-069f-4a3e-8283-960a9c450d76,601,0106000020E610000001000000010300000001000000AD...,null,Ib,null,null,BWA,Designated,National Park,2021-10-29 10:31:00.035909,48760af4-679b-4c55-86ce-2e5039c0c8e8,2021-10-29 10:31:00.035909,null

In [6]:
columns = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at', 'project_id'], wdpa.columns.values))
columnsForData = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at', 'created_by','project_id'], 
                             wdpa.columns.values))
print(columns)
print(columnsForData)

['wdpaid', 'the_geom', 'full_name', 'iucn_cat', 'shape_leng', 'shape_area', 'iso3', 'status', 'desig', 'created_by']
['wdpaid', 'the_geom', 'full_name', 'iucn_cat', 'shape_leng', 'shape_area', 'iso3', 'status', 'desig']

In [7]:
text=[]
for id, row in wdpa[columnsForData].iterrows():
    dataFortext = "({rowData[0]}, {rowData[1]}::geometry, {rowData[2]}, {rowData[3]}, {rowData[4]}, {rowData[5]}, {rowData[6]}, {rowData[7]}, {rowData[8]}, '$user')".format(rowData = ['null' if x == 'null' else f"'{x}'" if type(x) == str else str(x) for x in row.values])
    text.append(dataFortext)

In [8]:
insertQuery=f'''
INSERT INTO wdpa 
({', '.join(columns)})
VALUES
{', '.join(text)};
'''
with open(f"/home/jovyan/work/datasets/processed/test-wdpa-data.sql", "w")as f:
    f.write(insertQuery)

# Admin Regions

In [9]:
admin_regions = pd.read_csv('/home/jovyan/work/datasets/processed/geo_admin_regions_okavango.csv').fillna('null')
admin_regions.head(3)

,id,the_geom,name_0,name_1,name_2,iso3,gid_0,gid_1,gid_2,level,created_at,created_by,last_modified_at,bbox,max_pu_area_size,min_pu_area_size,hash
0,9b914975-229e-40de-8cec-baba700b77bc,0106000020E610000018000000010300000001000000F3...,Angola,null,null,null,AGO,null,null,country,2021-10-29 09:55:00.422352,48760af4-679b-4c55-86ce-2e5039c0c8e8,2021-10-29 09:55:00.422352,"[24.08211708, 11.66874886, -4.372591018676758,...",1252305,136,5977752f36a7b263e699d18b03c089e4
1,a22f318a-8bb7-4764-a98e-84f96d529707,0106000020E6100000010000000103000000010000009B...,Botswana,null,null,null,BWA,null,null,country,2021-10-29 09:55:00.422352,48760af4-679b-4c55-86ce-2e5039c0c8e8,2021-10-29 09:55:00.422352,"[29.36831092834484, 19.999534606933707, -17.78...",579407,63,7050918d24c72509766a0ee93839258a
2,e1df8d49-d26f-4b98-ad37-c4c88efbe2eb,0106000020E6100000090000000103000000010000002A...,Democratic Republic of the Congo,null,null,null,COD,null,null,country,2021-10-29 09:55:00.422352,48760af4-679b-4c55-86ce-2e5039c0c8e8,2021-10-29 09:55:00.422352,"[31.305704116821346, 12.206628799438647, 5.386...",2339489,254,bfc0ea62146fa5455edfdf293bdc12ad

In [12]:
columns = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at', 'hash', 'max_pu_area_size','min_pu_area_size', 'bbox'], admin_regions.columns.values))
columnsForData = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at', 'created_by', 'hash','max_pu_area_size','min_pu_area_size', 'bbox'], 
                             admin_regions.columns.values))
print(columns)
print(columnsForData)

['the_geom', 'name_0', 'name_1', 'name_2', 'iso3', 'gid_0', 'gid_1', 'gid_2', 'level', 'created_by']
['the_geom', 'name_0', 'name_1', 'name_2', 'iso3', 'gid_0', 'gid_1', 'gid_2', 'level']

In [13]:
text=[]
for id, row in admin_regions[columnsForData].iterrows():
    dataFortext = "({rowData[0]}::geometry, {rowData[1]}, {rowData[2]}, {rowData[3]}, {rowData[4]}, {rowData[5]}, {rowData[6]}, {rowData[7]}, {rowData[8]}, '$user')".format(rowData = ['null' if x == 'null' else f"'{x}'" if type(x) == str else str(x) for x in row.values])
    text.append(dataFortext)

In [14]:
insertQuery=f'''
INSERT INTO admin_regions 
({', '.join(columns)})
VALUES
{', '.join(text)};
'''
with open(f"/home/jovyan/work/datasets/processed/test-admin-data.sql", "w")as f:
    f.write(insertQuery)

## Features

### Meta

In [15]:
api_features = pd.read_csv('/home/jovyan/work/datasets/processed/api_features_okavango.csv').fillna('null')
features_data = pd.read_csv('/home/jovyan/work/datasets/processed/geo_features_data_okavango.csv').fillna('null')
api_features.head(3)

,id,feature_class_name,alias,description,property_name,intersection,tag,creation_status,created_at,created_by,last_modified_at,project_id,list_property_keys
0,2bec8c6f-0e69-4ae1-8e6c-8e6da8be02ae,demo_acinonyx_jubatus,Acinonyx_jubatus,null,name,null,species,created,2021-10-29 10:39:46.919753,48760af4-679b-4c55-86ce-2e5039c0c8e8,2021-10-29 10:39:46.919753,null,"[""ogc_fid"", ""name"", ""gridcode""]"
1,91c0d661-c19c-48b1-b7c3-804f910748d0,demo_bucorvus_leadbeateri,Bucorvus_leadbeateri,null,id,null,species,created,2021-10-29 10:40:16.407778,48760af4-679b-4c55-86ce-2e5039c0c8e8,2021-10-29 10:40:16.407778,null,"[""objectid"", ""id"", ""shape_leng"", ""ogc_fid"", ""s..."
2,ef320873-d861-4e54-a662-a0f3f441054b,demo_buteogallus_urubitinga,Buteogallus_urubitinga,null,id,null,species,created,2021-10-29 10:40:19.380089,48760af4-679b-4c55-86ce-2e5039c0c8e8,2021-10-29 10:40:19.380089,null,"[""id"", ""ogc_fid"", ""gridcode""]"

In [16]:
_filter = features_data.feature_id.unique()[:9]
filtered_api_features = api_features[api_features.id.isin(_filter)]
filtered_data_features = features_data[features_data.feature_id.isin(_filter)]

In [18]:
columns = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at','project_id', 'list_property_keys'], api_features.columns.values))
columnsForData = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at', 'created_by','project_id', 'list_property_keys'], api_features.columns.values))
print(columns)
print(columnsForData)

['feature_class_name', 'alias', 'description', 'property_name', 'intersection', 'tag', 'creation_status', 'created_by']
['feature_class_name', 'alias', 'description', 'property_name', 'intersection', 'tag', 'creation_status']

In [19]:
text = []
for id, row in filtered_api_features[columnsForData].iterrows():
    dataFortext = "({rowData[0]}, {rowData[1]}, {rowData[2]}, {rowData[3]}, {rowData[4]}, {rowData[5]}, {rowData[6]}, (SELECT id FROM users WHERE email = 'aa@example.com'))".format(rowData = ['null' if x == 'null' else f"'{x}'" if type(x) == str else str(x) for x in row.values])
    text.append(dataFortext)

In [20]:
insertQuery=f'''
INSERT INTO features 
({', '.join(columns)})
VALUES
{', '.join(text)};
'''
with open(f"/home/jovyan/work/datasets/processed/test-features.sql", "w")as f:
    f.write(insertQuery)

### Data

In [21]:
columns = list(filter(lambda x: x not in ['id'], features_data.columns.values))
columnsForData = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at', 'feature_id'], 
                             features_data.columns.values))
print(columns)
print(columnsForData)

['the_geom', 'properties', 'source', 'feature_id']
['the_geom', 'properties', 'source']

In [22]:
if not os.path.exists('/home/jovyan/work/datasets/processed/features'):
    os.makedirs('/home/jovyan/work/datasets/processed/features')
for posx, feature_row in filtered_api_features.iterrows():
    text=[]
    for id, row in filtered_data_features[filtered_data_features.feature_id.isin([feature_row.id])][columnsForData].iterrows():
        dataFortext = "({rowData[0]}::geometry, {rowData[1]}::jsonb, {rowData[2]}, '$feature_id')".format(rowData = ['null' if x == 'null' else f"'{x}'" if type(x) == str else str(x) for x in row.values])
        text.append(dataFortext)
    insertQuery=f'''
    INSERT INTO features_data 
    ({', '.join(columns)})
    VALUES
    {', '.join(text)};
    '''
    with open(f"/home/jovyan/work/datasets/processed/features/{feature_row.feature_class_name}.sql", "w")as f:
        f.write(insertQuery)