In [5]:
import pandas as pd

In [6]:
!pwd

/home/jovyan/work/notebooks/Lab

In [9]:
api_features = pd.read_csv('/home/jovyan/work/datasets/processed/api_features_okavango.csv')
api_features.head(3)

,id,feature_class_name,alias,description,property_name,intersection,tag,creation_status,created_at,created_by,last_modified_at
0,b1d419ee-bb0b-4786-aa59-ed2c5e23deff,iucn_abditomyslatidens,NaN,NaN,binomial,NaN,species,created,2021-02-25 08:47:52.841585,f6058adb-971b-412d-8c2b-1b16c7b0fb4f,2021-02-25 08:47:52.841585
1,47d140ac-e69a-4186-bbad-897de1ea3ce0,iucn_abeomelomyssevia,NaN,NaN,binomial,NaN,species,created,2021-02-25 08:47:52.998951,f6058adb-971b-412d-8c2b-1b16c7b0fb4f,2021-02-25 08:47:52.998951
2,ab5f0511-4c7b-449f-8035-b68997eb3087,iucn_abrawayaomyschebezi,NaN,NaN,binomial,NaN,species,created,2021-02-25 08:47:53.152512,f6058adb-971b-412d-8c2b-1b16c7b0fb4f,2021-02-25 08:47:53.152512

In [30]:
columns = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at'], api_features.columns.values))

In [35]:
for id, row in api_features[columns].iterrows():
    print(row)
    break

feature_class_name                  iucn_abditomyslatidens
alias                                                  NaN
description                                            NaN
property_name                                     binomial
intersection                                           NaN
tag                                                species
creation_status                                    created
created_by            f6058adb-971b-412d-8c2b-1b16c7b0fb4f
Name: 0, dtype: object

In [32]:
print(f'''
INSERT INTO features ({', '.join(columns)})
VALUES
''')

INSERT INTO features (feature_class_name, alias, description, property_name, intersection, tag, creation_status, created_by)
VALUES