# Generator of sql fixtures for data testing

This notebook adds a methodology to generate data for doing api testing.

In [1]:
import pandas as pd

# WDPA

In [2]:
wdpa = pd.read_csv('/home/jovyan/work/datasets/processed/geo_wdpa_okavango.csv').fillna('null')
wdpa.head(3)

,id,wdpaid,the_geom,full_name,iucn_cat,shape_leng,shape_area,iso3,status,desig,created_at,created_by,last_modified_at
0,938d12e7-a49f-468c-ba74-84638d10c87c,555577555,0106000020E6100000010000000103000000010000002C...,null,Not Applicable,null,null,BWA,Inscribed,World Heritage Site (natural or mixed),2021-03-01 12:54:49.814692,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 12:54:49.814692
1,856ef5ca-726d-4e3f-8f08-0e7238dabe39,555577555,0106000020E6100000010000000103000000010000002C...,null,Not Applicable,null,null,BWA,Inscribed,World Heritage Site (natural or mixed),2021-03-01 12:54:59.646387,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 12:54:59.646387
2,6d5a8d01-1f65-4c7d-92f8-f60a7712fd65,555577555,0106000020E6100000010000000103000000010000002C...,null,Not Applicable,null,null,BWA,Inscribed,World Heritage Site (natural or mixed),2021-03-01 12:55:02.629566,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 12:55:02.629566

In [3]:
columns = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at'], wdpa.columns.values))
columnsForData = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at', 'created_by'], 
                             wdpa.columns.values))
print(columns)
print(columnsForData)

['wdpaid', 'the_geom', 'full_name', 'iucn_cat', 'shape_leng', 'shape_area', 'iso3', 'status', 'desig', 'created_by']
['wdpaid', 'the_geom', 'full_name', 'iucn_cat', 'shape_leng', 'shape_area', 'iso3', 'status', 'desig']

In [4]:
text=[]
for id, row in wdpa[columnsForData].iterrows():
    dataFortext = ",".join(['null' if x == 'null' else f"'{x}'" if type(x) == str else str(x) for x in row.values])
    text.append(f"({dataFortext}, '$user')")

In [5]:
insertQuery=f'''
INSERT INTO features 
({', '.join(columns)})
VALUES
{', '.join(text)};
'''
with open(f"/home/jovyan/work/datasets/processed/test-wdpa-data.sql", "w")as f:
    f.write(insertQuery)

# Admin Regions

In [6]:
admin_regions = pd.read_csv('/home/jovyan/work/datasets/processed/geo_admin_regions_okavango.csv').fillna('null')
admin_regions.head(3)

,id,the_geom,name_0,name_1,name_2,iso3,gid_0,gid_1,gid_2,level,created_at,created_by,last_modified_at
0,93bfd2a9-8c12-40c7-ba9d-404a8cff68fe,0106000020E610000008000000010300000001000000A9...,Angola,null,null,null,AGO,null,null,country,2021-03-01 12:42:01.891632,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 12:42:01.891632
1,91c13a0b-ee21-4f51-953e-82ec226338f4,0106000020E61000000100000001030000000100000099...,Botswana,null,null,null,BWA,null,null,country,2021-03-01 12:42:01.891632,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 12:42:01.891632
2,29a9c053-d3ed-4a2a-863b-9259590142c7,0106000020E610000003000000010300000001000000D6...,Democratic Republic of the Congo,null,null,null,COD,null,null,country,2021-03-01 12:42:01.891632,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 12:42:01.891632

In [7]:
columns = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at'], admin_regions.columns.values))
columnsForData = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at', 'created_by'], 
                             admin_regions.columns.values))
print(columns)
print(columnsForData)

['the_geom', 'name_0', 'name_1', 'name_2', 'iso3', 'gid_0', 'gid_1', 'gid_2', 'level', 'created_by']
['the_geom', 'name_0', 'name_1', 'name_2', 'iso3', 'gid_0', 'gid_1', 'gid_2', 'level']

In [8]:
text=[]
for id, row in admin_regions[columnsForData].iterrows():
    dataFortext = ",".join(['null' if x == 'null' else f"'{x}'" if type(x) == str else str(x) for x in row.values])
    text.append(f"({dataFortext}, '$user'")

In [10]:
insertQuery=f'''
INSERT INTO features 
({', '.join(columns)})
VALUES
{', '.join(text)};
'''
with open(f"/home/jovyan/work/datasets/processed/test-admin-data.sql", "w")as f:
    f.write(insertQuery)

## Features

### Meta

In [11]:
api_features = pd.read_csv('/home/jovyan/work/datasets/processed/api_features_okavango.csv').fillna('null')
features_data = pd.read_csv('/home/jovyan/work/datasets/processed/geo_features_data_okavango.csv').fillna('null')
api_features.head(3)

,id,feature_class_name,alias,description,property_name,intersection,tag,creation_status,created_at,created_by,last_modified_at
0,2367e7fd-6476-42cd-96af-380fe79ccda8,iucn_abditomyslatidens,null,null,binomial,null,species,created,2021-03-01 13:10:00.340666,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 13:10:00.340666
1,e09edcc4-6177-4d5c-8b56-3153e329a856,iucn_abeomelomyssevia,null,null,binomial,null,species,created,2021-03-01 13:10:00.511928,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 13:10:00.511928
2,665ec258-d329-48fd-9cfd-ed35c315dad6,iucn_abrawayaomyschebezi,null,null,binomial,null,species,created,2021-03-01 13:10:00.670676,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 13:10:00.670676

In [13]:
_filter = features_data.features_id.unique()[:9]
filtered_api_features = api_features[api_features.id.isin(_filter)]
filtered_data_features = features_data[features_data.features_id.isin(_filter)]

In [14]:
columns = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at'], api_features.columns.values))
columnsForData = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at', 'created_by'], api_features.columns.values))

In [15]:
text = []
for id, row in filtered_api_features[columnsForData].iterrows():
    dataFortext = ",".join(['null' if x == 'null' else f"'{x}'" if type(x) == str else str(x) for x in row.values])
    text.append(f"({dataFortext}, (SELECT id FROM users WHERE email = 'aa@example.com'))")

In [16]:
insertQuery=f'''
INSERT INTO features 
({', '.join(columns)})
VALUES
{', '.join(text)};
'''
with open(f"/home/jovyan/work/datasets/processed/features.sql", "w")as f:
    f.write(insertQuery)

### Data

In [23]:
filtered_api_features

,id,feature_class_name,alias,description,property_name,intersection,tag,creation_status,created_at,created_by,last_modified_at
25,3339baf4-1e4e-41db-bfa4-cded58c40812,iucn_acinonyxjubatus,null,null,binomial,null,species,created,2021-03-01 13:10:04.439268,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 13:10:04.439268
56,1e2d75ef-c7c0-4378-81d0-0670232980ef,iucn_aepycerosmelampus,null,null,binomial,null,species,created,2021-03-01 13:10:09.464586,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 13:10:09.464586
63,b4659c94-e4fd-44cf-9e02-f4d579e0cd30,iucn_aethomysbocagei,null,null,binomial,null,species,created,2021-03-01 13:10:10.603562,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 13:10:10.603562
68,587da944-f5dd-4c7e-b8ef-3d706271135d,iucn_aethomysnyikae,null,null,binomial,null,species,created,2021-03-01 13:10:11.429638,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 13:10:11.429638
185,2ff4f8e2-95ed-43d7-afdf-e5f80e3a530e,iucn_anomalurusderbianus,null,null,binomial,null,species,created,2021-03-01 13:10:30.563949,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 13:10:30.563949
987,f4cfc2cf-77a8-4e0a-b13a-e5c3c29d0c78,iucn_crocidurahirta,null,null,binomial,null,species,created,2021-03-01 13:12:48.668804,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 13:12:48.668804
1326,50fcddef-027f-412f-81a5-6d67a26fb6d3,iucn_dendrohyraxarboreus,null,null,binomial,null,species,created,2021-03-01 13:13:44.084393,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 13:13:44.084393
1569,1e56799c-f44d-48e5-9fe0-e361dc20e38e,iucn_epomophoruswahlbergi,null,null,binomial,null,species,created,2021-03-01 13:14:24.884463,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 13:14:24.884463
1995,9dc385b2-6ca6-49bd-adf3-5b736d22e37a,iucn_herpestessanguineus,null,null,binomial,null,species,created,2021-03-01 13:15:38.423952,cf37a9bc-6e7b-4207-ac0c-55dd118ba199,2021-03-01 13:15:38.423952

In [28]:
features_data.head(3)

,id,the_geom,properties,source,features_id
0,ffb20039-dcc7-419a-a339-dffbf9dad065,0106000020E610000003000000010300000001000000AC...,"{""class"": ""MAMMALIA"", ""genus"": ""Anomalurus"", ""...",iucn,2ff4f8e2-95ed-43d7-afdf-e5f80e3a530e
1,d0f32b96-54f2-4393-9184-88b0193c9f96,0106000020E61000000100000001030000000100000032...,"{""class"": ""MAMMALIA"", ""genus"": ""Crocidura"", ""i...",iucn,f4cfc2cf-77a8-4e0a-b13a-e5c3c29d0c78
2,6b4372c3-247b-4d81-b27b-9d656804e76e,0106000020E6100000020000000103000000010000008D...,"{""class"": ""MAMMALIA"", ""genus"": ""Epomophorus"", ...",iucn,1e56799c-f44d-48e5-9fe0-e361dc20e38e

In [29]:
columns = list(filter(lambda x: x not in ['id', 'features_id'], features_data.columns.values))
columnsForData = list(filter(lambda x: x not in ['id', 'created_at', 'last_modified_at', 'features_id'], 
                             features_data.columns.values))
print(columns)
print(columnsForData)

['the_geom', 'properties', 'source']
['the_geom', 'properties', 'source']

In [30]:
for posx, feature_row in filtered_api_features.iterrows():
    text=[]
    for id, row in filtered_data_features[filtered_data_features.features_id.isin([feature_row.id])][columnsForData].iterrows():
        dataFortext = ",".join(['null' if x == 'null' else f"'{x}'" if type(x) == str else str(x) for x in row.values])
        text.append(f"({dataFortext})")
    insertQuery=f'''
    INSERT INTO features 
    ({', '.join(columns)})
    VALUES
    {', '.join(text)};
    '''
    with open(f"/home/jovyan/work/datasets/processed/{feature_row.feature_class_name}.sql", "w")as f:
        f.write(insertQuery)